<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="widget wlightblue">
                <div class="widget-head">
                    <div class="pull-left">新增意见</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="alert">

            </div>

            <div class="box-content">
                <form role="form" class="form-horizontal" method="post" action="{:U('save')}">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-4">
                            <input type="text" name="title"  class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-4">
                            <volist name="type" id="vo">
                                <input type="checkbox" id="inlineCheckbox1" value="{$vo.id}"> {$vo.name}
                            </volist>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">创建人</label>
                        <div class="col-sm-4">
                            <input type="text" name="user" value=""  class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" rows="3">

                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">上传附件</label>
                        <div class="col-sm-4">
                            <button class="btn btn-info"  data-toggle="modal" data-target="#myModal"  type="button">
                                请选择
                            </button>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <ul class="list-group file-list">

                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-info">新增</button>
                        </div>

                    </div>

                </form>

                <style>
                    .fileinput-button input {
                        cursor: pointer;
                        direction: ltr;
                        font-size: 200px;
                        margin: 0;
                        opacity: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                </style>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form method="post" enctype="multipart/form-data" action="{:U('upload/upload')}" id="upload-form">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">上传附件</h4>
                            </div>
                            <div class="modal-body">
                                <input type="file" name="files" >

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="upload">提交</button>
                            </div>
                        </div><!-- /.modal-content -->
                        </form>
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </div>



        </div>



    </div>
</div>
<script>
    $(function(){
        $('#upload').click(function(){
            $('#upload-form').ajaxSubmit({
                dataType:"json",
                success:function(data){
                    if(data.name){
                        $('.file-list').after('<li class="list-group-item"><i class="icon-remove"></i>'+data.name+'<input type="hidden" value="'+data.id+'" name="file_id[]"></li>');
                        $('#myModal').modal('hide');
                    }else{
                        $('.alert').html('<div class="alert alert-danger"><strong>错误!</strong>上传失败</div>')
                    }
                }
            })
        })
        $('body').on('click','.icon-remove',function(){
                $(this).parents('li').remove();
        })


    })

</script>
<script src="__JS__/jquery.form.js" type="text/javascript"></script>
<!--
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="__JS__/upload/jquery.ui.widget.js" type="text/javascript"></script>
<script src="__JS__/upload/jquery.fileupload.js" type="text/javascript"></script>
<script src="__JS__/upload/jquery.fileupload-angular.js" type="text/javascript"></script>
<script src="__JS__/upload/jquery.fileupload-audio.js" type="text/javascript"></script>
<script src="__JS__/upload/jquery.fileupload-image.js" type="text/javascript"></script>
<script src="__JS__/upload/jquery.fileupload-process.js" type="text/javascript"></script>
<script src="__JS__/upload/jquery.fileupload-ui.js" type="text/javascript"></script>
<script src="__JS__/upload/jquery.fileupload-validate.js" type="text/javascript"></script>
<script src="__JS__/upload/jquery.fileupload-video.js" type="text/javascript"></script>
<script src="__JS__/upload/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="__JS__/upload/main.js" type="text/javascript"></script>

<script src="__JS__/upload/app.js" type="text/javascript"></script>
-->




