<div class="row">

    <div class="col-md-12">


        <div class="widget wgreen">

            <div class="widget-head">
                <div class="pull-left">新增用户</div>
                <div class="widget-icons pull-right">
                    <a class="wminimize" href="#"><i class="icon-chevron-up"></i></a>
                    <a class="wclose" href="#"><i class="icon-remove"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-content">
                <div class="padd">

                    <h6>新增用户</h6>
                    <hr>
                    <!-- Form starts.  -->
                    <form role="form" class="form-horizontal" action="{:U('Member/save')}" method="post">

                        <div class="form-group">
                            <label class="col-lg-4 control-label">用户名</label>
                            <div class="col-lg-8">
                                <input type="text" name="username" placeholder="请输入用户名" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">密码</label>
                            <div class="col-lg-8">
                                <input type="password" name="password" placeholder="请输入密码" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">邮箱</label>
                            <div class="col-lg-8">
                                <input type="text" name="email" placeholder="请输入邮箱" class="form-control">
                            </div>
                        </div>



                        <hr>
                        <div class="form-group">
                            <div class="col-lg-offset-1 col-lg-9">
                                <button class="btn btn-default" type="submit">提交</button>
                                <!--
                                <button class="btn btn-primary" type="button">Primary</button>
                                <button class="btn btn-success" type="button">Success</button>
                                <button class="btn btn-info" type="button">Info</button>
                                <button class="btn btn-warning" type="button">Warning</button>
                                <button class="btn btn-danger" type="button">Danger</button>
                                -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="widget-foot">
                <!-- Footer goes here -->
            </div>
        </div>

    </div>

</div>